<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{template "title" .}}</title>

    <link href="{{.BaseUrl}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{.BaseUrl}}css/page.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="header">
          <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          </ul>
          <h3 class="text-muted">imagehost</h3>
      </div>

      {{ template "content" . }}

      <div class="footer">
        <p>&copy; The imagehost Authors 2014</p>
      </div>
    </div>

    {{ template "scripts" . }}
  </body>
</html>

{{ define "scripts" }}{{ end }}
